# ignore matlab file
*.m

# ignore query result excel directory
query_result_xls/

# ignore hwp file
*.hwp

# ignore docx file
*.docx

# ignore image file
*.jpg

# ignore python cache directory
__pycache__/

